@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

    margin: 0px;
    border: 0px;
    padding: 0px;

}
body{

    background-color: rgb(242, 242, 242);

}
/* CABECALHO E BARRA DE NAVEGACAO */
#cabecalho1{

    background-color: #134985;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;

}
#LoCa{

    width: 200px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

}
.botoes{

    width: 95px;
    height: 35px;
    font-size: 16px;
    background-color: transparent;
    outline: solid #5D82AE 2px;
    color: white;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    
}


.botoes:hover{

    background-color: #5D82AE;

}
#barraNavegacao{

    background-color: #5D82AE;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}
#menu{

    width: 40%;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.menuItens{

    display: flex;
    align-items: center;
    justify-content: center;

}
.linkMenu{

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    transition: all 150ms ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: white;

}
.linkMenu:hover{

    background-color: #134985;
    color: white;

}
#financie{

    background-color: #134985;

}
.linkMenu::after{

    text-decoration: none;
    color: black;


}
/* CONTEÙDO */
#centerText{

    display: flex;
    justify-content: center;

}
#bancos{

    list-style: none;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}
.bancosItem{

    

}
.btndiv{

    width: 100%;
    height: 75px;
    background-color: white;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btndiv a{

    background-color: #134985;
    width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;

}