
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{

    margin: 0px;
    border: 0px;
    padding: 0px;

}
body{

    background-color: rgb(242, 242, 242);
    font-family: Montserrat;

}
/* CABECALHO E BARRA DE NAVEGACAO */
#cabecalho1{

    background-color: #134985;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;

}
#LoCa{

    width: 200px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

}
.botoes{

    width: 95px;
    height: 35px;
    font-size: 16px;
    background-color: transparent;
    outline: solid #5D82AE 2px;
    color: white;
    transition: all 150ms ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    
}


.botoes:hover{

    background-color: #5D82AE;

}
#barraNavegacao{

    background-color: #5D82AE;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}
#menu{

    width: 40%;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.menuItens{

    display: flex;
    align-items: center;
    justify-content: center;

}
.linkMenu{

    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    transition: all 150ms ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: white;

}
.linkMenu:hover{

    background-color: #134985;
    color: white;

}
#sobre{

    background-color: #134985;

}
.linkMenu::after{

    text-decoration: none;
    color: black;


}
/* TEXTO */
#textSobre{

    width: 60%;

}
/* TEXTO PRINCIPAL */
#center-text{

    display: flex;
    justify-content: center;
    margin-top: 50px; 

}
#textSobre > h2{

    font-size: 20px;
    margin-top: 20px;

}
#textSobre > h2:first-of-type{

    margin-top: 0px;

}
#textSobre > p{

    font-size: 16px;
    margin-top: 10px;
    color: gray;

}

/* RODAPÉ */

#rodape{
    
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 100px;

}
.sep{

    background-color: #134985;
    width: 50%;
    font-size: 14px;
}
#sep1{

    box-shadow: 2px 10px 40px -1px black;
    z-index: 9999;
    display: flex;
    color: white;
    font-family: Montserrat;
    align-items: center;
    justify-content: justify;
    flex-wrap: wrap;
}
#sep1-uppart{

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
    align-self: flex-start;
    margin-top: 30px;
}
#imgRodape{

    width: 350px;

}
#contatos{

    display: flex;
    flex-direction: column;
    

}
#seasideRodape{

    font-size: 20px;

}
#copy{

    margin-left: 30px;

}
#sep2{

    z-index: 1;
    display: flex;
    color: white;
    font-family: Montserrat;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 20px;
    flex-direction: row;

}
#sep2-division{

    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#sep2-division1{

    list-style: none;
    display: flex;
    flex-direction: column;

}

.itens-division1{

    text-decoration: underline;
    color: white;

}
#sep2-division2{

    list-style: none;
    display: flex;
    flex-direction: column;
    
}
#sep2-division2 > .sep2-division2-li{

    display: flex;
    align-items: center;
    margin-bottom: 5px;

}
.sep2-division2-li > img{

    margin-right: 5px;

}
.itens-division2{

    text-decoration: underline;
    color: white;

}
.itens-division2::after{

    text-decoration: underline;

}